:root {
  --primary-color: #2e3b4e;
  --secondary-color: #8e44ad;
  --accent-color: #f39c12;
  --background-color: #f5f5f5;
  --text-color: #333;
  --text-color-head: #b80c7f;
  --font-family: "Arial", sans-serif;
  --max-width: 1120px;
  --font-color: #fff;
  --link-color: #0077b6;
  --gentle-color: #f8f9fa;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5;
  text-decoration: none;
}

/* Cabecera */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: var(--font-color);
}

/* Contenedor del logo y título */
header .logo-title {
  display: flex;
  align-items: center;
}

/* Estilo del logo */
header .logo img {
  height: 100px; /* Tamaño del escudo, ajusta según prefieras */
  margin-right: 10px;
}

/* Estilo del título */
header .title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--font-color);
}

/* Oculta el menú en pantallas pequeñas */
#nav-menu {
  display: flex;
  align-items: center;
}

#nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#nav-menu ul li {
  margin: 0 15px;
}

#nav-menu ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 22px;
}

#nav-menu ul li a:hover {
  color: var(--text-color-head);
}

/* Mostrar menú en pantallas pequeñas cuando está activo */
#nav-menu.show {
  display: flex;
}

.enlaceactual {
  border-bottom: 3px solid var(--text-color-head);
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2.8rem;
  background: none;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}

.container,
.category-list,
.presentation,
.links {
  max-width: var(--max-width);
  margin: auto;
  padding: 20px;
  text-align: center;
}

.container-cab {
  padding: 10px 60px;
}

.container img,
.presentation img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
}

/* Estilos básicos para la sección */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.header-row {
  text-align: center;
  margin-bottom: 10px; /* Espacio entre la fila de encabezado y las columnas */
}

.header-row h1 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  margin-top: 20px;
}

.header-row p {
  font-size: 1.4rem;
  color: var(--text-color);
}

.justificado {
  text-align: justify;
}

/*
@media (min-width: 768px) {
  .corousel {
    margin: 0px 60px;
  }
}*/

.carousel {
  width: 100%;
  /*margin: 0px 0px;*/
  margin: 0px 0px;
}

.carousel h2 {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  opacity: 0.9;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
}

.carrusel-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 48vw;
  overflow: hidden;
}

.carrusel-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.carrusel {
  position: relative;
  width: 380px;
  /*width: 210px;*/
  padding: 0px 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.carrusel a img {
  object-fit: cover;
  height: 300px;
  width: 355px;
  /*width: 355px;*/
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

/*
@media (min-width: 768px) {
  .carrusel {
    width: 380px;
  }
  .carrusel a img {
    width: 355px;
  }
}*/

.carrusel-arrow {
  border-radius: 30px;
  background-color: var(--font-color);
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.carrusel-arrow:focus {
  outline: 0;
}

.carrusel-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.carusel-prev {
  left: 0px;
}

.carrusel-next {
  right: 0px;
}

/********************/
/* Página categorías*/
/********************/

.category-section {
  max-width: var(--max-width);
  margin: 40px auto;
  padding: 0 20px;
}

.category-section h2 {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  flex: 1 1 calc(33.333% - 20px);
  background-color: var(--font-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.category-item:hover {
  transform: translateY(-5px);
}

.category-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.category-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.category-item h3 {
  font-size: 1.4rem;
  margin: 15px;
  color: var(--secondary-color);
}

.category-item p {
  font-size: 1.2rem;
  margin: 0 15px 15px;
  /*color: var(--text-color);*/
}

/*********************/
/* Página detalle*/
/*********************/

.detail-page {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 20px;
}

.intro-section {
  text-align: center;
}

.intro-section h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.intro-section p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  object-fit: cover;
  height: 538;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease; /* Transición para hover */
}

.main-image:hover {
  transform: translateY(-4px); /* Efecto de levantamiento */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}

figcaption {
  font-style: italic;
  color: var(--text-color);
  margin-top: 10px;
  font-size: 1.2rem;
}

/* Content Section */
.content-section,
.intro-section,
.media-section {
  max-width: var(--max-width);
  margin: 20px auto;
}

.content-section h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.content-section h3 {
  font-size: 1.4rem;
}

.content-section p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

ul.activities-list {
  list-style: none; /* Quita las viñetas predeterminadas */
  padding: 0;
  margin: 2rem auto;
  max-width: 800px; /* Limita el ancho para un aspecto más centrado */
}

ul.activities-list li {
  background-color: var(--background-color); /* Fondo suave */
  border-left: 5px solid var(--link-color); /* Borde de color */
  margin-bottom: 1rem;
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: transform 0.2s ease; /* Transición para hover */
}

/* Icono decorativo para cada elemento de la lista */
ul.activities-list li::before {
  content: "🎶"; /* Emoji de decoración - ajustable */
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Efecto hover para resaltar el elemento */
ul.activities-list li:hover {
  transform: translateY(-4px); /* Efecto de levantamiento */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}

ul.activities-list li p {
  font-size: 1rem;
  color: #333;
  margin: 0;
}

/*presentacion*/

.presentation-page {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 20px;
}

.intro-section {
  text-align: center;
}

/* Media Section */
.media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 40px;*/
}

iframe {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

figure {
  margin: 0 0 30px 0;
  width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container-cab {
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-menu {
    width: 100%;
    text-align: center;
    display: none;
  }

  #nav-menu ul {
    flex-direction: column;
  }

  .presentation-page {
    padding: 10px;
  }

  iframe {
    max-width: 100%;
  }
}

/*********************/
/* Página de enlaces*/
/*********************/

/* Contenedor principal */
.links-page-container {
  padding: 2rem;
  max-width: var(--max-width);
  margin: auto;
}

/* Estilos de Sección */
.links-intro-section,
.links-sources-section,
.links-copyleft-section,
.links-disclaimer-section {
  margin-bottom: 2rem;
}

.links-intro-section h1 {
  font-size: 1.8rem;
  text-align: center;
}

.links-sources-section h2,
.links-copyleft-section h2,
.links-disclaimer-section h2 {
  color: var(--text-color-head);
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.links-intro-section p,
.links-sources-section p,
.links-copyleft-section p,
.links-disclaimer-section p {
  font-size: 1.4rem;
  margin: 0.5rem 0 1rem;
  text-align: justify;
}

/**********************/
/* Página Listado de enlaces */
/**********************/
.links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-list-item {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.links-list-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.links-list-item a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.links-list-item a:hover {
  text-decoration: underline;
}

/**************************/
/* Responsive Design */
/*************************/
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 10px 0;
  }
  .container,
  .category-list,
  .presentation,
  .links {
    padding: 10px;
  }

  .container {
    flex-direction: column; /* Coloca texto e imagen en una sola columna */
  }

  .container .image {
    max-width: 100%; /* Imagen a 100% en pantallas pequeñas */
  }

  #nav-menu {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 110px;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  #nav-menu ul {
    flex-direction: column;
    align-items: center;
  }

  #nav-menu ul li {
    margin: 10px 0;
  }

  /* Mostrar el botón de menú hamburguesa */
  .menu-toggle {
    display: block;
  }
  /* Mostrar menú en pantallas pequeñas cuando está activo */
  #nav-menu.show {
    display: flex;
  }

  .carrusel-list {
    padding: 10px 0px;
    margin: 0px 2px auto;
    max-width: 100%;
  }

  .category-item {
    flex: 1 1 100%;
  }

  .detail-page {
    padding: 10px;
  }

  .intro-section h1 {
    font-size: 1.6rem;
  }

  .main-image {
    max-width: 100%;
  }

  ul.activities-list li {
    padding: 1rem;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start;
  }

  ul.activities-list li p {
    font-size: 0.95rem;
  }

  .links-page-container {
    padding: 1rem;
  }

  .links-intro-section h1,
  .links-sources-section h2,
  .links-copyleft-section h2,
  .links-disclaimer-section h2 {
    font-size: 1.5rem;
  }

  .links-intro-section p,
  .links-sources-section p,
  .links-copyleft-section p,
  .links-disclaimer-section p {
    font-size: 0.95rem;
  }
}

@media (max-width: 1024px) {
  .category-item {
    flex: 1 1 calc(50% - 20px);
  }
}
