:root {
  --primary-color: #2e3b4e;
  --secondary-color: #8e44ad;
  --accent-color: #f39c12;
  --background-color: #f5f5f5;
  --text-color: #333;
  --text-color-head: #b80c7f;
  --font-family: "Arial", sans-serif;
  --max-width: 1120px;
  --font-color: #fff;
  --link-color: #0077b6;
  --gentle-color: #f8f9fa;
  --black-color: #000;

  // COLORS
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5;
  text-decoration: none;
}

/**Formato del HEADER**/

header {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Distribuye el logo a la izquierda y el texto en el centro */
  background-color: var(--primary-color);
  color: var(--font-color);
  position: relative;
  padding: 10px 20px;

  .logo-title {
    display: flex;
    align-items: center;
  }

  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .heading-primary {
      color: var(--font-color);
      text-transform: uppercase;
      backface-visibility: hidden;

      &--main {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        animation: moveInRight 1s ease-out;
      }
    }
  }

  /* Media Queries */

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .logo-title {
      margin-bottom: 20px;
    }

    .header__text-box {
      position: static;
      transform: none;
      text-align: center;

      .heading-primary {
        &--main {
          font-size: 1.8rem;
        }

        &--sub {
          font-size: 1.4rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .header__text-box {
      .heading-primary {
        &--main {
          font-size: 1.6rem;
        }

        &--sub {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 15px;

    .header__text-box {
      .heading-primary {
        &--main {
          font-size: 1.4rem;
        }

        &--sub {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.enlaceactual {
  border-bottom: 3px solid var(--text-color-head);
}

.container,
.category-list,
.presentation,
.links {
  max-width: var(--max-width);
  margin: auto;
  padding: 20px;
  text-align: center;

  &.container-cab {
    padding: 10px 60px;
  }
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 20px; /* Espacio interno */
  margin-top: 20px;
  font-size: 1.2rem;

  #nav-menu {
    display: flex;
    justify-content: center; /* Centra horizontalmente el menú */
    align-items: center; /* Alinea verticalmente el menú */

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center; /* Centra el contenido dentro del `ul` */

      li {
        margin: 0 15px;

        a {
          color: var(--font-color);
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          transition: color 0.3s;

          &:hover {
            color: var(
              --text-color-head
            ); /* Cambia el color al pasar el cursor */
          }
        }
      }
    }

    &.show {
      display: flex; /* Mostrar el menú cuando esté activado */
    }
  }
}

/** Formato a la página index.html**/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;

  .header-row {
    text-align: center;
    margin-bottom: 10px;

    h1 {
      font-size: 1.8rem;
      color: var(--primary-color);
      margin-bottom: 10px;
      margin-top: 20px;
    }

    p {
      font-size: 1.4rem;
      color: var(--text-color);
    }
  }

  .composition {
    width: 100%;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__photo {
      width: 80%;
      aspect-ratio: 3 / 2; /* Relación de aspecto 1000:667 */
      height: auto;
      display: block;
      object-fit: cover;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      clip-path: polygon(50% 0%, 100% 25%, 85% 100%, 15% 100%, 0% 25%);
      transition: all 0.3s ease-in-out;
      outline-offset: 2rem;

      &:hover {
        clip-path: none;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        outline: 0.8rem solid var(--secondary-color);
      }
    }

    &:hover &__photo:not(:hover) {
      transform: scale(0.9);
    }
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .container {
    .header-row {
      h1 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .header-row {
      h1 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .composition {
      &__photo {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    .header-row {
      h1 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

.justificado {
  text-align: justify;
}

/********************/
/* Página categorías*/
/********************/

.card-container {
  display: flex; /* Flexbox para organizar las tarjetas en fila */
  justify-content: space-between; /* Espaciado entre las tarjetas */
  gap: 2rem; /* Espaciado entre tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en pantallas pequeñas */
  max-width: 60%;
  margin: 0rem auto;
  margin-bottom: 6.5rem;

  .card {
    flex: 1; /* Permite que las tarjetas tengan el mismo ancho */
    height: 50rem;
    position: relative;

    &__side {
      height: 52rem;
      width: 100%;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      &--front {
        background-color: #fff;
        z-index: 1;
      }
    }

    &__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &--1 {
        background-image: linear-gradient(
            to right bottom,
            var(--color-secondary-light),
            var(--color-secondary-dark)
          ),
          url(../img/verano_cultural.jpg);
      }

      &--2 {
        background-image: linear-gradient(
            to right bottom,
            var(--color-primary-light),
            var(--color-primary-dark)
          ),
          url(../img/rioduero.jpg);
      }

      &--3 {
        background-image: linear-gradient(
            to right bottom,
            var(--color-tertiary-light),
            var(--color-tertiary-dark)
          ),
          url(../img/iglesia.jpg);
      }
    }

    &__heading {
      font-size: 2.2rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: var(--color-white);
      position: absolute;
      top: 7rem;
      right: 1rem;
      width: 75%;
    }

    &__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#ffb900, 0.6),
          rgba(#ff7730, 0.6)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#7ed56f, 0.6),
          rgba(#28b485, 0.6)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#2998ff, 0.6),
          rgba(#5643fa, 0.6)
        );
      }
    }

    &__details {
      padding: 3rem;

      ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;

        li {
          text-align: center;
          font-size: 1.2rem;
          padding: 1rem;

          a {
            text-decoration: none;
            color: #ffb900;
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--color-grey-light-2);
          }
        }
      }
    }
  }
}

//* Media Queries Responsivas */

/* Pantallas grandes (769px a 1024px) */
@media only screen and (max-width: 1024px) {
  .card-container {
    flex-direction: column; /* Cambia a una columna */
    justify-content: center; /* Centra el contenido */
    align-items: center; /* Alinea las tarjetas al centro */
    max-width: 100%; /* Las tarjetas ocupan todo el ancho */
    gap: 1.5rem; /* Ajusta el espacio entre las tarjetas */
    margin-bottom: 2rem;

    .card {
      width: 95%;
      height: 40rem;

      &__picture {
        height: 20rem;
      }

      &__heading {
        font-size: 1.8rem;
        top: 5rem; /* Ajustar posición del título */
        right: 1.5rem;
      }
    }
  }
}

/* Pantallas medianas (481px a 768px) */
@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Cambia a una columna */
    justify-content: center; /* Centra el contenido */
    align-items: center; /* Alinea las tarjetas al centro */
    max-width: 100%; /* Las tarjetas ocupan todo el ancho */
    gap: 1.5rem; /* Ajusta el espacio entre las tarjetas */
    margin-bottom: 2rem;

    .card {
      width: 95%;
      height: 40rem;

      &__picture {
        height: 20rem;
      }

      &__heading {
        font-size: 1.8rem;
        top: 5rem; /* Ajustar posición del título */
        right: 1.5rem;
      }
    }
  }
}

/* Pantallas pequeñas (480px o menos) */
@media only screen and (max-width: 480px) {
  .card-container {
    .card {
      height: 40rem;
      &__picture {
        height: 15rem;
      }

      &__heading {
        font-size: 1.6rem;
        top: 3rem; /* Ajustar posición */
        right: 1rem;
      }

      &__details ul li {
        font-size: 1.2rem;
      }
    }
  }
}

/*********************/
/* Página detalle*/
/*********************/

.detail-page {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 20px;

  .intro-section {
    text-align: center;

    h1 {
      font-size: 1.8rem;
      margin-bottom: 10px;
      color: var(--primary-color);
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .media-section {
    figure {
      padding: 0;
      margin: 0;

      .main-image {
        width: 100%;
        height: auto;
        display: block; /* Evita el espacio adicional debajo de las imágenes */
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
      }

      figcaption {
        font-style: italic;
        color: var(--text-color);
        margin-top: 10px;
        font-size: 1.2rem;
      }
    }
  }

  .content-section,
  .media-section {
    max-width: var(--max-width);
    margin: 20px auto;

    h2 {
      font-size: 1.6rem;
      margin-bottom: 15px;
      color: var(--secondary-color);
    }

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .composition2 {
    display: grid; /* Configura el contenedor como Grid */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Define columnas automáticas de mínimo 300px y máximo 1fr */
    gap: 1rem; /* Espaciado entre elementos */
    width: 100%;
    margin-bottom: 3rem;

    &__photo {
      border-radius: 8px;
      overflow: hidden; /* Oculta contenido que desborde */
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      transition: transform 0.3s ease-in-out;

      img {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        height: 100%; /* Ocupa toda la altura */
        object-fit: cover; /* Recorta la imagen manteniendo la relación de aspecto */
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        transform: scale(
          1.05
        ); /* Aumenta ligeramente la imagen al hacer hover */
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 10;
      }
    }
  }

  ul.activities-list {
    list-style: none;
    padding: 0;
    margin: 2rem auto;
    max-width: 800px;

    li {
      background-color: var(--background-color);
      border-left: 5px solid var(--link-color);
      margin-bottom: 1rem;
      padding: 1.2rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      gap: 0.8rem;
      transition: transform 0.2s ease; // Transición para hover

      &::before {
        content: "🎶";
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }

      &:hover {
        transform: translateY(-4px); // Efecto de levantamiento
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); // Sombra más fuerte
      }

      p {
        font-size: 1rem;
        color: #333;
        margin: 0;
      }
    }
  }

  // Media Queries
  @media (max-width: 1024px) {
    .intro-section {
      h1 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .media-section {
      figure {
        .main-image {
          height: 400px;
        }
      }

      figcaption {
        font-size: 1rem;
      }
    }

    .content-section {
      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }

      ul.activities-list {
        li {
          padding: 1rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .intro-section {
      h1 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .media-section {
      figure {
        .main-image {
          height: 300px;
        }
      }

      figcaption {
        font-size: 0.9rem;
      }
    }

    .content-section {
      h2 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1.2rem;
      }

      ul.activities-list {
        li {
          padding: 0.8rem;
          &::before {
            font-size: 1.2rem; // Reduce el tamaño del emoji
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .intro-section {
      h1 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .media-section {
      figure {
        .main-image {
          height: 250px;
        }
      }

      figcaption {
        font-size: 0.8rem;
      }
    }

    .content-section {
      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1.2rem;
      }

      ul.activities-list {
        li {
          padding: 0.6rem;
          &::before {
            font-size: 1rem; // Reduce el tamaño del emoji
          }
        }
      }
    }
  }
}

/**********************/
/***PRESENTACIÓN/******
/*********************/

.presentation-page {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 20px;

  .intro-section {
    text-align: center;

    h1 {
      font-size: 1.8rem;
      margin-bottom: 10px;
      color: var(--primary-color);
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

    figure {
      margin: 20px 0;
      text-align: center;
      width: 100%;
      height: auto;

      .fluid-image {
        /* display: block;*/
        object-fit: cover;
        max-width: 100%; /* Imagen fluida */
        height: auto; /* Mantiene las proporciones */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-4px); /* Movimiento al pasar el ratón */
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
        }
      }

      figcaption {
        margin-top: 10px;
        font-style: italic;
        font-size: 1rem;
        color: var(--text-color-secondary);
      }
    }

    iframe {
      width: 100%;
      height: 350px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .content-section {
    max-width: var(--max-width);
    margin: 20px auto;

    h2 {
      font-size: 1.6rem;
      margin-bottom: 15px;
      color: var(--secondary-color);
    }

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .zuzones-animation {
    text-align: center;
    padding: 2rem 1rem;

    .animation-container {
      max-width: 800px;
      margin: 0 auto;
    }

    .zuzones-path {
      width: 100%;
      max-width: 600px;
      height: auto;
      margin: 0 auto;

      .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: drawPath 3s ease-in-out forwards;
      }

      .traveler {
        animation: moveTraveler 3s ease-in-out forwards infinite;
      }
    }

    .animation-caption {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #4caf50;
      font-weight: bold;
    }

    @keyframes drawPath {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes moveTraveler {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(150px, -130px);
      }
      50% {
        transform: translate(300px, 0px);
      }
      100% {
        transform: translate(500px, 0px);
      }
    }
  }
}

/* Agrupados los Media Queries */
@media (max-width: 1024px) {
  .presentation-page {
    .intro-section {
      h1 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .media-section {
      figure {
        .fluid-image {
          border-radius: 6px;
        }

        figcaption {
          font-size: 0.9rem;
        }
      }

      iframe {
        height: 300px;
      }
    }

    .content-section {
      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .zuzones-animation {
      .animation-container {
        max-width: 90%;
      }

      .zuzones-path {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .presentation-page {
    .intro-section {
      h1 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .media-section {
      figure {
        .fluid-image {
          border-radius: 4px;
        }

        figcaption {
          font-size: 0.8rem;
        }
      }

      iframe {
        height: 250px;
      }
    }

    .content-section {
      h2 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .zuzones-animation {
      .animation-container {
        max-width: 90%;
      }

      .zuzones-path {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .presentation-page {
    .intro-section {
      h1 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .media-section {
      figure {
        .fluid-image {
          border-radius: 4px;
        }

        figcaption {
          font-size: 0.8rem;
        }
      }

      iframe {
        height: 200px;
      }
    }

    .content-section {
      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .zuzones-animation {
      .animation-container {
        max-width: 100%;
      }

      .zuzones-path {
        max-width: 100%;
      }
    }
  }
}

/*********************/
/* Página de enlaces*/
/*********************/
.links-page-container {
  padding: 2rem;
  max-width: var(--max-width);
  margin: auto;

  .links-intro-section,
  .links-sources-section,
  .links-copyleft-section,
  .links-disclaimer-section {
    margin-bottom: 2rem;

    h1 {
      font-size: 1.8rem;
      text-align: center;
    }

    h2 {
      color: var(--text-color-head);
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    p {
      font-size: 1.4rem;
      margin: 0.5rem 0 1rem;
      text-align: justify;
    }
  }

  .links-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .links-list-item {
      background-color: #fff;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .links-page-container {
    padding: 1.5rem;

    .links-intro-section,
    .links-sources-section,
    .links-copyleft-section,
    .links-disclaimer-section {
      h1 {
        font-size: 1.6rem;
      }

      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .links-list {
      .links-list-item {
        padding: 0.8rem;

        a {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .links-page-container {
    padding: 1rem;

    .links-intro-section,
    .links-sources-section,
    .links-copyleft-section,
    .links-disclaimer-section {
      h1 {
        font-size: 1.4rem;
      }

      h2 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .links-list {
      .links-list-item {
        padding: 0.7rem;

        a {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .links-page-container {
    padding: 0.8rem;

    .links-intro-section,
    .links-sources-section,
    .links-copyleft-section,
    .links-disclaimer-section {
      h1 {
        font-size: 1.4rem;
      }

      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .links-list {
      .links-list-item {
        padding: 0.5rem;

        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}

/**************************/
/* Responsive Design */
/*************************/
@media (max-width: 768px) {
  footer {
    #nav-menu {
      flex-direction: column; /* Cambia el menú a disposición vertical */
      align-items: center; /* Centra los elementos verticalmente */

      ul {
        flex-direction: column;
        align-items: center;

        li {
          margin: 4px 0;
        }
      }
    }
  }

  .category-item {
    flex: 1 1 100%;
  }

  .detail-page {
    padding: 10px;
  }

  .intro-section h1 {
    font-size: 1.6rem;
  }

  .main-image {
    max-width: 100%;
  }

  ul.activities-list li {
    padding: 1rem;
    flex-direction: column; // Apila los elementos verticalmente
    align-items: flex-start;

    p {
      font-size: 0.95rem;
    }
  }
}

@media (max-width: 1024px) {
  .category-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
